@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #18181D;
  color: white;
}

body.modal-open {
  overflow-y: hidden;
}

#root {
  filter: blur(0px) grayscale(0%);
  transition: all 250ms ease-in-out;
}

body.modal-open #root {
  filter: blur(10px) grayscale(100%);
  pointer-events: none;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=datetime-local]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  outline: none;
}

